<div>
    <h1 style="margin-left: 45%">HOME</h1>
</div>
<br>
<div style="width:100%;height:100%;display: flex;justify-content: space-around;">
    <div>
        <button mat-raised-button color="primary" routerLink="../banner">Banner</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="../product-view">Product View</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="../timer">Timer</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="../timer-service">Timer using subject</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="../student-table">Student Table</button>
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="../div-creator">Div Creator</button>
    </div>
</div>